{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
    <a class="navbar-brand" href="#page-top">
        <img src="{% static 'img/untir.jpg' %}"  alt="..." />
        <h3>UNTIRTA JAWARA</h3>
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#tentang">Tentang</a></li>
                <li class="nav-item"><a class="nav-link" href="#faperta">FAPERTA</a></li>
                <li class="nav-item"><a class="nav-link" href="#feb">FEB</a></li>
                <li class="nav-item"><a class="nav-link" href="#fh">FH</a></li>
                <li class="nav-item"><a class="nav-link" href="#fisip">FISIP</a></li>
                <li class="nav-item"><a class="nav-link" href="#fk">FK</a></li>
                <li class="nav-item"><a class="nav-link" href="#fkip">FKIP</a></li>
                <li class="nav-item"><a class="nav-link" href="#ft">FT</a></li>
                <li class="nav-item"><a class="nav-link" href="#pascasarjana">PASCASARJANA</a></li>
                <li class="nav-item"><a class="nav-link" href="#profil">PROFIL</a></li>
            </ul>
        </div>
    </div>
</nav> 
