<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UNTIRTA</title>
  
</head>
<body></body>
  <div class="nav">
    <div class="header">
      <label>UNTIRTA</label>
    </div>
  <div class="menu">
        <a href="/universitas">UNTIRTA</a>
  <div class="dropdown">
          <a href="#" class="dropbtn">FAKULTAS</a>
          <div class="content">
            <a href="/faperta">FAPER</a>
            <a href="/feb">FEB</a>
            <a href="/fh">FH</a>
            <a href="/fisip">FISIP</a>
            <a href="/fk">FK</a></li>
            <a href="/fkip">FKIP</a>
            <a href="/ft">FT</a>
            <a href="/pascasarjana">PASCASARJANA</a>
          </div>
        </div>
        <a href="/profil">PROFIL</a>
  </div>
</div>
</body>
</html>

